/*Tablet*/
@media screen and (min-width: 600px) {
  .bed-image {
    flex: 2;
  }

  .sidebar-text {
    padding: 2.5rem;
  }

  .sidebar h2 {
    font-size: 1.7rem;
  }

  .text-box {
    padding: 2rem;
    margin: 1rem 3rem;
  }

  /*Products*/

  h1 {
    font-size: 3rem;
  }

  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

/*desktop*/
@media screen and (min-width: 1150px) {
  /*Navigation*/
  .hamburger-menu {
    display: none;
  }

  nav {
    display: inline-block;
    position: static;
    padding: 1rem 2rem;
  }

  nav li {
    padding: 0;
  }

  ul {
    flex-direction: row;
    padding: 0;
  }
  .logo img {
    width: 320px;
  }

  /*Main*/

  .sidebar-text {
    padding: 1.5rem;
  }

  .bed-image {
    flex: 3;
  }

  /*Products*/
  .products-header {
    background-position-y: -805px;
  }
}
