@import "imports/variables.css";

@font-face {
  font-family: 'calendas';
  src: url(../fonts/Calendas-Bold.otf);
}

@font-face {
  font-family: 'futura pt bold';
  src: url(../fonts/Futura/Futura/FuturaPTBold.otf);
}

@font-face {
  font-family: 'futura pt regular';
  src: url(../fonts/Futura/FuturaPTMedium.otf);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
}

h1, h2 ,h3 {
  font-family: var(--font-headings);
}


.wrapper {
  flex: 1 0 auto;
}

h1 {
  color: white;
  margin-bottom: 1rem;
}

main,
.logo,
ul,
.inner-footer {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background: url(/assets/square-pattern.png);
}

.logo {
  text-align: center;
  padding: 1rem;
}

.logo img {
  width: 280px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

li a {
  padding: 1rem 2rem;
}

.active {
  font-weight: bold;
}

.active,
li:hover,
li a:hover,
li:hover a {
  background: url(/assets/square-pattern.png);
  color: var(--color-text);
  cursor: pointer;
}

.livingroom {
  background: url(/images/livingroom.jpg) center, no-repeat;
  background-size: cover;
  min-height: 600px;
}

.text-box {
  padding: 1rem;
  margin: 1rem 1rem;
  font-size: 1.5rem;
}

.text-box a:hover {
  text-decoration: underline;
}

.livingroom,
.bedroom,
.products-header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 0 1rem 1.5rem 1rem;
}

.bedroom {
  display: flex;
  flex-direction: row;
}

.bed-image {
  background: url(/images/bedroom.jpg) center, no-repeat;
  background-size: cover;
  min-height: 600px;
  flex: 0.4;
}

.sidebar {
  flex: 2;
  color: var(--color-text);
  background: linear-gradient(
      0deg,
      rgba(194, 156, 63, 0.4),
      rgba(194, 156, 63, 0.4)
    ),
    url(/assets/square-pattern.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.sidebar-text {
  padding: 0.5rem;
}

.sidebar-text > * {
  margin: 1rem;
}

button {
  background-color: var(--color-text);
  color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 15px;
}

button:hover {
  background-color: black;
}

footer,
.nav-container {
  background-color: var(--color-primary);
  flex-shrink: 0;
}

.inner-footer {
  text-align: center;
  font-size: 10px;
  padding: 0.4rem;
}

.footer-logo img {
  width: 170px;
  padding: 1rem;
}

nav {
  display: none;
  position: absolute;
  width: 100%;
  right: 0px;
  top: 116px;
  z-index: 100;
  background: var(--color-primary);
}

#hamburger-menu:checked ~ nav {
  display: block;
}

#hamburger-menu {
  display: none;
}

nav li {
  padding: 1rem 0;
}

.fa-bars {
  padding: 8px;
  font-size: 2em;
  cursor: pointer;
  margin-left: 1rem;
  color: white;
}

.inner-footer {
  color: white;
}
