:root {
  --color-primary: #c29c3f;
  --color-secondary: #dac38b;
  --color-text: #2f2f2f;

  --font-primary: verdana, Geneva, Tahoma, sans-serif;
  --font-headings: "futura pt bold", sans-serif;
  --font-products-header: "futura pt regular", sans-serif;
}
